# Created by .ignore support plugin (hsz.mobi)

.DS_Store

.gradle/
build/
.sandbox-*/

*.log
*.bak
tmp.*

.idea/*
!.idea/externalDependencies.xml
!.idea/vcs.xml
!.idea/bashsupport_project.xml
!.idea/runConfigurations/
!.idea/dictionaries/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/kotlinc.xml
!.idea/kotlinScripting.xml
